.header {
  background-image: url(https://www.figma.com/file/rb7ezTQKWjspYCcssJuwSv/image/38315c7e9c01e5a7294e7b1cbebc53a59a7d48e8);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  // max-width:1920 ;
  // width: 100%;

  &__nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 16px;

    

    &_burger{
      display: none;
    }

    &_logo {
      margin-right: auto;
    }

    &_list {
      display: flex;
      align-items: center;
      gap: 24px;
    }
    & a {
      color: $color-FDFDFD;
    }
    & a:hover {
      color: $color-F2BE22;
      cursor: pointer;
    }
    &_btn {
      padding: 14px 24px;
      margin-left: 25px;
    }
    &_btn:hover {
      cursor: pointer;
      color: $color-1A3E3E;
      background: $color-FFFFFF;
      transition: 300ms;
      border: none;
    }
  }
  &__start {
    padding-bottom: 82px;
    &_title {
      font-family: $ff-next;

      margin-top: 463px;
      font-size: $fs-50;
      font-weight: $fw-700;
      line-height: $lh-75;
      color: $color-FFFFFF;
    }
  }
  &__start_search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

    width: 100%;
    margin-top: 41px;
    padding: 40px 42px;
    border-radius: 10px;
    background: $color-rgba;

    &_label {
      &_data {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $color-FFFFFF;
        background: $color-rgba;
        color: $color-FFFFFF;
        border-radius: 4px;
        margin-bottom: 13px;
      }
      span {
        color: $color-FFFFFF;
      }
    }

    &_btn {
      max-width: 213px;
      width: 100%;
      padding: 16px 36px;
      background: $color-FFFFFF;
      color: $color-1A3E3E;
      margin-bottom: 50px;
      border-radius: 4px;
      border: 1px transparent;
    }

    &_btn:hover {
      cursor: pointer;
      color: $color-FFFFFF;
      background: $color-1A3E3E;
      transition: 300ms;
    }
  }

  #start {
    border-radius: 5px;
    color: var(--acolor-000);
    padding: 14px 16px 14px 16px;
    gap: 8px;
    border: none;
    background: none;
  }
  label {
    // max-width: 269px;
    // width: 100%;
    font-family: $ff;
    font-weight: $fw-400;
    font-size: $fs-14;
    display: flex;
    flex-direction: column;
    max-width: 270px;
    width: 100%;
    gap: 8px;

    select {
      // max-width: 269px;
      // width: 100%;
      padding: 14px 44px 14px 16px;
      background: rgba(255, 255, 255, 0.2);
      color: $color-FFFFFF;
      border: 1px solid $color-FFFFFF;
      border-radius: 4px;
    }
    option {
      color: black;
    }
    span {
      padding: 8px 8px 0px 8px;
      color: $color-FFFFFF;
    }
  }

  .overlow {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: $color-1A3E3E;
    z-index: 999;
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);

    &--active {
      left: 0;
      padding: 10px;
      padding: 45px 16px 50px;
    }
    &--active a::before {
      content: "";
      position: absolute;
      max-width: 6px;
      max-height: 10px;
      top: 8px;
      background-image: url(../../img/footer/Vector.svg);
    }

    &-close {
      position: absolute;
      right: 1%;
      top: 9%;
      z-index: 999;
      display: block;
      border: none;
      background: none;
      color: $color-FFFFFF;
      font-size: $fs-30;
      font-weight: $fw-700;

      cursor: pointer;
    }
  }

  @include for-size(phone) {
    &__start {
      padding: unset;
      &_search {
        padding: unset;
        background: unset;
        backdrop-filter: unset;

        label {
          display: none;
        }

        &_label {
          display: none;
        }
      }
    }

    &__start_title {
      font-size: $fs-22;
      font-weight: $fw-700;
      line-height: $lh-42;
      margin: unset;
      padding-top: 234px;
    }

    &__start_search_btn {
      font-size: $fs-16;
      font-weight: $fw-700;
      line-height: $lh-20;
      margin-bottom: 50px;
    }
  }
  @include for-size(captop) {
    &__start_search {
      padding: unset;
      background: unset;
      backdrop-filter: unset;

      label {
        display: none;
      }

      &_label {
        display: none;
      }
    }
  }

  @include for-size(laptop) {
    &__nav {
      &_list {
        display: none;
      }

      &_burger {
        display: none;
        position: relative;
        z-index: 6;
        display: block;
        border: 0;
        width: 21px;
        height: 18px;
        background-color: rgba(0, 0, 0, 0);
        cursor: pointer;

        &-line {
          position: absolute;
          left: 0;
          border-radius: 3px;
          width: 100%;
          height: 3px;
          background-color: #fff;
          transition: all .3s;
        }

        &-line:first-of-type {
          margin-bottom: 5px;
          top: 0px;
        }
        &-line:nth-child(2) {
          top: 50%;
          transform: translateY(-50%);
        }
        &-line:last-of-type {
          left: unset;
          right: 0;
          bottom: 0;
          width: 50%;
        }
      }
    }
  }

  @include for-size(daptop) {
    &__start_search {
      &_label {
        flex: 1 1 40%;
      }

      flex-wrap: wrap;
    }
    label {
      flex: 1 1 40%;
    }
  }

  @include for-size(captop) {
    &__start_title {
      font-size: $fs-30;
    }

    
  }
}

// --------------------------
