$ff: "Nunito Sans", sans-serif;
$ff-next: "NEXT ART";

$fs-50: 50px;
$fs-38: 38px;
$fs-32: 32px;
$fs-30: 30px;
$fs-28: 28px;
$fs-26: 26px;
$fs-24: 24px;
$fs-22: 22px;
$fs-20: 20px;
$fs-18: 18px;
$fs-16: 16px;
$fs-14: 14px;
$fs-12: 12px;

$fw-800: 800;
$fw-700: 700;
$fw-600: 600;
$fw-500: 500;
$fw-400: 400;

$lh-75: 75px;
$lh-70: 70px;
$lh-50: 50px;
$lh-42: 42px;
$lh-38-4: 38.4px;
$lh-32: 32px;

$lh-31-2: 31.2px;
$lh-28-8: 28.8px;

$lh-27: 27px;

$lh-24-55: 24.55px;
$lh-24: 24px;
$lh-20: 20px;
$lh-18: 18px;
$lh-16: 16px;
$lh-150: 150%;
$color-rgba: rgba(255, 255, 255, 0.2);
$color-F2BE22: #f2be22;
$color-1A3E3E: #1a3e3e;
$color-FFFFFF: #ffffff;
$color-F3F5F4: #f3f5f4;
$color-FDFDFD: #fdfdfd;
$color-18121E: #18121e;
$color-000: #000;

:root{
    --acolor-000: #000;

}